#main-icon {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

#header {
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
    padding: 10px;
}

.filter-button {
    margin-right: 5px;
    margin-left: 5px;
}

.page-header {
    margin-top: 20px
}

.college-card {
    margin-top: 15px;
}

.card-images {
    position: relative;
}


.college-card-icon {
    width: 100px; 
    height: 100px; 
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: -50px;
    margin-left: 20px;
}

.college-card-body {
    margin-top: 45px;
}

#feed {
    margin-top: 10px
}

.sidebar-card {
    margin-top: 10px
}

.upvote-icon {
    width: 20px;
    height: 20px;
}

.post-card {
    margin-bottom: 5px;
}

.slogan-container {
    display: flex;
    align-items: center;
}

.slogan-container > h1 {
    padding-left: 20px;
}

.promo {
    margin-top: 20px;
}

.row {
    margin-top: 20px;
}

.student-preview {
    margin-right: 10px;
}

.banner-image {
    width: 100%;
    height: 175px;
}

.hero {
    margin-top: 20px;
}

.comment-item {
    border-bottom: solid;
    border-width: 1px;
    border-color: whitesmoke
}