.search-result {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.search-result > img {
    height: 175px;
    width: 175px;
}

.search-result > .card {
    width: 100%;
    height: 175px;
}